.sugest{
    color: brown;
    width: 300px;
    height: 300px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 30px;
    flex-direction:column;
    margin-top: 35px;
   
}

.foto_nome_sugest1{
    width: 300px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    margin-bottom: 70px;
}

.foto_nome_sugest2{
    width: 300px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 50px;
}

.foto_nome_sugest3{
    width: 300px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 50px;
}

.foto_nome_sugest4{
    width: 300px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
}

.nome_fotinha1{
    width: 200px;
    height: 50px;
    margin-top:23px;
     margin-left: 5px; 
    margin-right: 90px;
    cursor: pointer;
}

.nome_fotinha2{
    width: 50px;
    height: 50px;
    margin-top: 28px;
    /* margin-left: 40px; */
    margin-right: 120px;
}

.img_perfil_fotinha {
    width: 50px;
    height: 45px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 1px;
    border-radius: 50px;
    border: 3px solid rgb(106, 21, 209);
    }

    .img_perfil_fotinha svg {
        width: 50px;
        height: 45px;
        margin-top: 8px;
        margin-left: 10px;
        margin-right: 1px;
        border-radius: 50px;
        border: 3px solid rgb(106, 21, 209);
        }

        .legenda_sugest{
            margin-left: 10px;
            color: gray;

        }