*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    
}

body{
    background:whitesmoke;
}

.geral_pag{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

